@charset "utf-8";
/* CSS Document */

body{
	
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
   user-select: none;
}
#anch1{
	margin-left:10px;
	}
#nav{
	width: 100%;
	height: 61px;
	margin-bottom: 12px;
	}
.text-pri{
	color: #FFF;
	font-size: 23pt;
	margin-top: 0;
	padding-top: 7px;
	padding-left: 11px;
	font-family: segoe ui emoji;
	}
#tab-ref{
	display:block;
	margin-left: 5px;
	}
#tab-prog{
	display:none;
	}
hr.style-one { 
	border: 0;
	height: 1px;
	background: #333;
	background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
a{
	font-size:18pt;
	color: rgba(0, 0, 0, 0.69);
	text-decoration:none;
	padding-left: 11%;
	padding-right: 13%;
	padding-bottom: 4px;
	padding-top: 8px;
	}
.selected{color: rgb(255, 255, 255);
	background-color: rgba(0, 0, 0, 0.48);}
.bottom{
	border-bottom:6px solid #FF8000;	
	}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.fade{ animation: fadein 1s;}
h1{	line-height:30%;color: #2B67F8;font-family: lato;	}
h4{    margin-bottom: -6px;color: #2B67F8;}
p{
    margin-left: 16px;
    margin-right: 16px;
	color: #443F3F;
}

table{
	width: 89%;
	margin-left: 30px;;
	margin-top: 46px;
	}
th{
	text-align:left;
}
tr:nth-child(1){
	background-color: rgb(69, 123, 252);
	color: white;
	border-collapse: collapse;
	height: 39px;
	font-family:'Existence','segoe ui';
}
td:nth-child(2){
	width: 55%;
}
tr{
	background-color: rgb(239, 240, 225);
	height: 75px;
	font-family: calibri;
}