<table class="w3-table-all notranslate">
  <tbody><tr>
    <th style="width:24%">Method</th>
    <th>Description</th>
  </tr>
  <tr>
    <td><a href="jsref_charat.asp">charAt()</a></td>
    <td>Returns the character at the specified index (position)</td>
  </tr>
  <tr>
    <td><a href="jsref_charcodeat.asp">charCodeAt()</a></td>
    <td>Returns the Unicode of the character at the specified 
	index</td>
  </tr>
  <tr>
    <td><a href="jsref_concat_string.asp">concat()</a></td>
    <td>Joins two or more strings, and returns a new joined strings</td>
  </tr>
  <tr>
    <td><a href="jsref_fromcharcode.asp">fromCharCode()</a></td>
    <td>Converts Unicode values to characters</td>
  </tr>
  <tr>
    <td><a href="jsref_indexof.asp">indexOf()</a></td>
    <td>Returns the position of the first found occurrence of a specified value in a string</td>
  </tr>
  <tr>
    <td><a href="jsref_lastindexof.asp">lastIndexOf()</a></td>
    <td>Returns the position of the last found occurrence of a specified value 
	in a string</td>
  </tr>
  <tr>
    <td><a href="jsref_localecompare.asp">localeCompare()</a></td>
    <td>Compares two strings in the current locale</td>
  </tr>
  <tr>
    <td><a href="jsref_match.asp">match()</a></td>
    <td>Searches a string for a match against a regular expression, and returns 
	the matches</td>
  </tr>
  <tr>
    <td><a href="jsref_replace.asp">replace()</a></td>
    <td>Searches a string for a specified value, or a regular expression, and 
	returns a new string where the specified values are replaced</td>
  </tr>
  <tr>
    <td><a href="jsref_search.asp">search()</a></td>
    <td>Searches a string for a specified value, or regular expression, and 
	returns the position of the match</td>
  </tr>
  <tr>
    <td><a href="jsref_slice_string.asp">slice()</a></td>
    <td>Extracts a part of a string and returns a new string</td>
  </tr>
  <tr>
    <td><a href="jsref_split.asp">split()</a></td>
    <td>Splits a string into an array of substrings</td>
  </tr>
  <tr>
    <td><a href="jsref_substr.asp">substr()</a></td>
    <td>Extracts the characters from a string, beginning at a specified start 
	position, and through the specified number of character</td>
  </tr>
  <tr>
    <td><a href="jsref_substring.asp">substring()</a></td>
    <td>Extracts the characters from a string, between two specified indices</td>
  </tr>
  <tr>
    <td><a href="jsref_tolocalelowercase.asp">toLocaleLowerCase()</a></td>
    <td>Converts a string to lowercase letters, according to the host's locale</td>
  </tr>
  <tr>
    <td><a href="jsref_tolocaleuppercase.asp">toLocaleUpperCase()</a></td>
    <td>Converts a string to uppercase letters, according to the host's locale</td>
  </tr>
  <tr>
    <td><a href="jsref_tolowercase.asp">toLowerCase()</a></td>
    <td>Converts a string to lowercase letters</td>
  </tr>
  <tr>
    <td><a href="jsref_tostring_string.asp">toString()</a></td>
    <td>Returns the value of a String object</td>
  </tr>
  <tr>
    <td><a href="jsref_touppercase.asp">toUpperCase()</a></td>
    <td>Converts a string to uppercase letters</td>
  </tr>
  <tr>
    <td><a href="jsref_trim_string.asp">trim()</a></td>
    <td>Removes whitespace from both ends of a string</td>
  </tr>
  <tr>
    <td><a href="jsref_valueof_string.asp">valueOf()</a></td>
    <td>Returns the primitive value of a String object</td>
  </tr>
  </tbody></table>